<mat-card>
  <div class="container">

    <h3>A que pelicula pertenece la frase?</h3>

    <div *ngIf="ganador">
      <div>
        <h4>Correcto!</h4>
        <br>
      </div>
    </div>
    
    <div *ngIf="perdedor">
      <div>
        <h4>Incorrecto!</h4>
        <br>
      </div>
    </div>

    <div *ngIf=checkTime>
      <h5>Se acabo el tiempo!</h5>
    </div>

    <div>
      <button mat-raised-button  color="primary" id="empezar" *ngIf="!respondiendo" (click)="juegoNuevo()">Nuevo Juego</button>
    </div>

    <div *ngIf=respondiendo>
      <h5>Tiempo: {{tiempo}}</h5>
    </div>
    
    <div class="typewriter" *ngIf=respondiendo>
        <div class="typewriter" [ngClass]="{ 'typewriter-text': respondiendo}">{{fraseRandom.frase}}</div>
    </div>

    <div class="row" *ngIf="respondiendo">
      <div class="col-lg-4" >
          <button mat-raised-button class="btn-warning" (click)="responder(fraseRandom.opciones[0])" >{{fraseRandom.opciones[0]}}</button>
      </div>
      <div class="col-lg-4">
          <button mat-raised-button class="btn-warning" (click)="responder(fraseRandom.opciones[1])" >{{fraseRandom.opciones[1]}}</button>
      </div>
      <div class="col-lg-4">
          <button mat-raised-button class="btn-warning" (click)="responder(fraseRandom.opciones[2])" >{{fraseRandom.opciones[2]}}</button>
      </div>
    </div>

    <br>

    <div class="row" *ngIf="respondiendo">
      <div class="col">
          <button mat-raised-button  color="warn" (click)="terminar()">Terminar</button>
      </div>
    </div>
  </div>
</mat-card>