<mat-card class="panel panel-default">
  <mat-card-title>Sala de Juegos</mat-card-title>
  <mat-card-subtitle>Octavio Villegas</mat-card-subtitle>
  <a href="https://github.com/octaviovillegas" target="_blank" mat-raised-button color="primary" >GitHub <i class="fa fa-github"></i></a>
  <a routerLink="/QuienSoy" mat-raised-button color="primary" >Quien Soy? <i class="fa fa-user"></i></a>
</mat-card>
<!-- <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/Registro"><span class="glyphicon glyphicon-user"></span>Registrarse</a></li>
        <li><a  routerLink="/Login"><span class="glyphicon glyphicon-log-in"></span> Ingresar</a></li>
</ul> -->
